<?xml version="1.0" encoding="utf-8"?>
<manifest package="uk.co.rustynailor.widewords"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".WideWordsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".data.generated.WideWordsProvider"
            android:authorities="uk.co.rustynailor.widewords.data.WideWordsProvider"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name=".DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.rustynailor.widewords.DashboardActivity"/>
        </activity>
        <activity
            android:name=".QuizQuestionActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.rustynailor.widewords.DashboardActivity"/>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_results"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.rustynailor.widewords.DashboardActivity"/>
        </activity>
        <activity
            android:name=".LearnActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_learn"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.rustynailor.widewords.DashboardActivity"/>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.rustynailor.widewords.DashboardActivity"/>
        </activity>
        <activity
            android:name=".LearnWordActivity"
            android:label="@string/title_activity_learn_word"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.rustynailor.widewords.DashboardActivity"/>
        </activity>

        <service
            android:name=".network.FetchWordsIntentService"
            android:exported="false"/>

        <receiver android:name=".WideWordsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wide_words_widget_info"/>
        </receiver>
    </application>

</manifest>